.LearningHtml {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "menu content"
    "menu content";
}

.LearningHtml__menu {
  grid-area: menu;
  background-color: var(--bg-secondary);
  padding: 10px;
  border-right: 3px solid var(--black-intense);
  color: var(--white);

  h2 {
    text-align: center;
    margin: 22px 0 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--white);
  }
  h3 {
    margin: 15px 5px;
  }
  ul {
    li {
      padding-left: 25px;
      a {
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
        &:hover {
          color: var(--text-primary);
        }
      }
    }
  }
}

.LearningHtml__article {
  grid: content;
  padding: 15px;

  h1 {
    text-align: center;
    margin: 15px 0 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--bg-secondary);
  }
}

.LearningHtml__article__ide {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 25px;
  row-gap: 25px;

  figure {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  figcaption {
    color: var(--text-primary);
  }
}
